<header>
  <app-menu-bar></app-menu-bar>
</header>
<section>
  <app-menu-title></app-menu-title>
</section>
<section class="articles">
  <div class="articles__main">
    <app-big-card
      imgUrl="https://t.ctcdn.com.br/X1n4qStmYomk4a5_B_crIbvmDK0=/1024x0/smart/i793063.jpeg"
      cardDescription="Foi confirmado que o famoso personagem Chopper estará presente na 2ª temporada do Live Action de One Piece"
      cardTitle="Tony Tony Chooper no LA"
    ></app-big-card>
  </div>
  <div class="articles__secundaries">
    <app-small-card
      cardTitle="Vem ai! Enel"
      imgUrl="https://t.ctcdn.com.br/X1n4qStmYomk4a5_B_crIbvmDK0=/1024x0/smart/i793063.jpeg"
    ></app-small-card>
    <app-small-card
      cardTitle="Vem ai! Vivi"
      imgUrl="https://t.ctcdn.com.br/X1n4qStmYomk4a5_B_crIbvmDK0=/1024x0/smart/i793063.jpeg"
    ></app-small-card>
    <app-small-card
      cardTitle="Vem ai! Marmita"
      imgUrl="https://t.ctcdn.com.br/X1n4qStmYomk4a5_B_crIbvmDK0=/1024x0/smart/i793063.jpeg"
    ></app-small-card>
  </div>
</section>
